<footer>
    <div class="footer-wrapper">
        <h2>Let's talk</h2>
        <div class="footer-links"><a class="small-uppercase float" href="https://www.linkedin.com/in/jurouxinol/">Linkedin</a>
        <a class="small-uppercase float" href="https://www.behance.net/jurouxinol">Behance</a>
        <a class="small-uppercase float" href="mailto:jurouxinol@gmail.com">Email</a>
    </div>
        
    </div>
    <div class="footer-wrapper">
        <p class="small-body">
            Made with HTML, CSS and some Magic
        </p>    
    </div>
</footer>