<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-container">
      <h2>Let's talk</h2>
      <ul>
        <li><a class="page-link" href="https://www.linkedin.com/in/jurouxinol/">Linkedin</a></li>
        <li><a class="page-link" href="https://www.behance.net/jurouxinol">Behance</a></li>
        <li><a class="page-link" href="mailto:jurouxinol@gmail.com">Email</a></li>
      </ul>
      <p class="post-meta">Jú Rouxinol © 2022</p>
    </div>


  </div>

</footer>
