<header>
  <nav class="navbar">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
      <a href="{{ "/" | relative_url }}" class="nav-logo">{{ site.title | escape }}</a>
      {%- if page_paths -%}
      <ul class="nav-menu">
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li class="nav-item">
              <a class="small-uppercase float" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li>
           {%- endif -%}
          {%- endfor -%}
      </ul>
    {%- endif -%}
      <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </div>
  </nav>
</header>

  
<script>
  const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
const navLink = document.querySelectorAll(".nav-link");

hamburger.addEventListener("click", mobileMenu);
navLink.forEach(n => n.addEventListener("click", closeMenu));

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}

function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");
}
</script>