<div class="container">
  {%- if site.posts.size > 0 -%}
<h2>Latest work</h2>
<ul class="post-list">
  {%- for post in site.posts -%}
    <li>
      <a class="img-link" href="{{ post.url | relative_url }}">
        <div class="img-wrapper"><img src="{{ post.image | relative_url }}" alt=""></div>
      </a>
    <h4 class="post-link">
      <a href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </h4>
    <p class="post-meta">{{ post.tags }}</p>
    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
</div>
