/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4,
 p, blockquote, pre, hr,
 dl, dd, ol, figure {
   margin: 0;
   padding: 0;
 }
 
 /**
  * Headings
  */
 
 h1, h2, h3, h4, h5, h6 {
   font-weight: $bold-font-weight;
 }
 
 h1 {
  @include relative-font-size(3.55);
  line-height: 74px;
 
   @include media-query($on-laptop) {
      @include relative-font-size(5.35);
      line-height: 110px;
   }
 }
 
 h2 {
   @include relative-font-size(1.75);
   line-height: 48px;
 }
 
 h3 {
   @include relative-font-size(1.35);
   line-height: 36px;
 }
 
 h4 {
   @include relative-font-size(1.1);
   line-height: 30px;
 }


.post-content{
  h1, h2, h3, h4, p, a, li {
    margin-bottom: $spacing-m;
  }
}

a {
  text-decoration: none;
  color: getColor(text-color);
}

.small-uppercase {
   font-size: $small-font-size;
   color: getColor(grey-color-dark);
   text-transform: uppercase;
   font-weight: $bold-font-weight;
}

.small-body {
  font-size: $small-font-size;
  color: getColor(grey-color-dark);
 }

 


 /* Float */
 $defaultDuration: .3s;

 @mixin hideTapHighlightColor() {
	//Prevent highlight colour when element is tapped
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
	//Improve performance on mobile/tablet devices
	transform: translateZ(0);
}

@mixin improveAntiAlias() {
	//Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float {
	display: inline-block;
	transition-duration: $defaultDuration;
	transition-property: transform;

	@include hideTapHighlightColor();
	@include hardwareAccel();
	@include improveAntiAlias();

	&:hover {
		transform: translateY(-5px);
    color: getColor(text-color);
	}
}



 /**
 * Basic styling
 */
 
body {
    font-family: $base-font-family;
    color: getColor(text-color);
    background-color: getColor(background-color);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: $base-font-size;
    max-width: $content-width;
    margin: auto;


}

img {
  border-radius: 32px;
}