.main-wrapper{
    max-width: $content-width;
    margin: auto;
}

.content-wrapper, .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-m $spacing-s;
    gap: $spacing-s;
}

.footer-wrapper{
    align-items: center;
}



.post-content {
    margin-bottom: $spacing-l;

    a {
        text-decoration: underline;
    }
}

/**
 * navbar
 */


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-m $spacing-s;
    gap: $spacing-s;
    
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-m;
    padding: 0;
    
    li {
     list-style-type: none;
     margin: 0;
    }
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: $small-font-size;
    text-transform: uppercase;
    font-weight: $bold-font-weight;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -120%;
        top: 5rem;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $background-color ;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 9;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}



/**
 * hero
 */

.hero-wrapper {
     position: relative;
}

svg.puzzle-piece {

    position: absolute;
    z-index: -1;
    width: 115.76px;
    height: 117.11px;
    right: 20%;
    top: 35%;

    @media  {
        
    }
    animation: rotate-animation 10s infinite linear;

    @keyframes rotate-animation {
        0% {
            transform: rotate(0deg);
      }
      50% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    

    @include media-query($on-laptop) {
        z-index: 1;
        right: 20%;
        top: 17%;
        animation: none;
        transition: transform , 2s;
    }

    &:hover {
        transform: rotate(180deg);
    }
}






/**
 * footer
 */

footer {


    .footer-links{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: $spacing-s;
    }
}


/** Posts Galery8 */

.post-wrapper {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $spacing-l ;
    padding: 0;


    > li {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  
    @include media-query($on-laptop) {
          li {
              width: 48%;
          }
      }

  
    .img-wrapper {
        display: flex;
        overflow: hidden;
        border-radius: 32px;

        img {
            object-fit: cover;
            transition: transform 0.5s, filter 0.5s ease-in-out;
            transform-origin: center center;
            filter: brightness(95%);
            }
        
        img:hover {
            filter: brightness(100%);
            transform: scale(1.1);
      }
}
  


      }
  
      img {
          width: 100%;
      }





