
/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.1);
  font-weight: 600;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-decoration: underline;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $text-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;

    }
  }
}

.active {
  font-weight: 700;
  color: red; 
}


.container{
  padding: $spacing-unit 0;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

.footer-container {
  text-align:center;
  display: block;

  ul{
    margin-left: 0;

  }

  li {
    display: inline-block;
    padding: 8px;
    
    a {
      color: $text-color;
    line-height: $base-line-height;
    text-decoration: underline;
    }
    
  
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px ;

  > li {
    margin-bottom: $spacing-unit;
    width: 100%;
  }

  @media (min-width: $on-palm) {
		li {
			width: 48%;
		}
	}


  .img-wrapper {
		position: relative;
    margin-bottom: 8px ;
    overflow: hidden;
		}

    .img-wrapper img {
    transition: transform 0.5s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(95%);
    }

    .img-wrapper:hover img {
      filter: brightness(100%);
      transform: scale(1.1);
    }
	}

	img {
		width: 100%;
	}

.post-meta {
  font-size: $small-font-size;
  color: $text-color;
}

.post-link{
  margin-bottom: 0;
}




/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
}
